font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2") format("woff2");
}

.page {
  background: #2a2c2f;
}

.header {
  display: flex;
}

.header__logo {
  max-width: 270px;
  height: 70px;
  margin: 34px auto 0 auto;
}

.lead__title {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.1;
  margin: 90px auto 0;
  max-width: 793px;
  text-align: center;
}
.lead {
  display: flex;
  flex-direction: column;
}

.lead__subtitle {
  text-align: center;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  max-width: 700px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin: auto;
  padding-top: 32px;
}

.lead__image {
  justify-content: center;
  margin: auto;
  max-width: 984px;
  height: 615px;
  padding-top: 64px;
  width: 90%;
  object-fit: auto;
}

.intro__title {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-size: 54px;
  max-width: 1017px;
  font-weight: 600;
  line-height: 1.1;
  margin: auto;
  padding-top: 92px;
}

.intro__quote {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  max-width: 722px;
  margin: 0 auto 0 148px;
  padding-top: 40px;
}

.intro__quote-footer {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  display: flex;
  justify-content: right;
  max-width: 65%;
}

.intro__paragraph {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 auto 0 148px;
  padding-top: 42px;
  max-width: 720px;
}

.gallery__block {
  max-width: 1184px;;
  padding-top: 92px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr, 1fr, 1fr);
  grid-gap: 16px;
}

.place__content {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows:  auto, 460px auto;
  padding-top:92px;
  margin:auto;
  max-width: 984px;
  height: 756px;
  
}

.place__title {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
  max-width: 484px;
  grid-column: 1;
  grid-row:1;
  padding: 0;
  margin: 0;
}

.place__title_berea {
  max-width: 600px;
}

.place__image {
  width: 460px;
  height: 460px;
  padding: 48px 0;
}

.place__website {
 grid-column: 2;
 grid-row:1;
 padding: 107px 0  48px 40px ;
}
.place__website-link {
  font-family: "Inter", Arial, sans-serif;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.12em;
}

.place__artist-name {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding-top: 8px;
  margin: 0;
}
.place__paragraphs {
  grid-column:2;
  grid-row:2/4;
  padding-left: 40px;
}
.place__paragraph {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  max-width: 484px;
  margin:0px;
  padding-top: 48px;
}

.place__buttom-link {
  max-width: 355px;
  height: 48px;
  background: #0278fe;
  padding: 13px 20px 13px 20px;
  border-radius: 4px 0px 0px 0px;
}

.place__buttom-text {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2px;
  border-bottom-style: none;
  background: #0278FE;
}



.cover {
display: flex;
flex-direction: column;
background-image: url(./images/__background.jpg);
max-width:1184px;
width: 90%;
height: 740px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 92px auto 0;
opacity: 70%;
}

.cover__title {
  font-family: "Inter", Arial, sans-serif;
  color:#FFFDFD;
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  z-index: 2;
  padding-top: 243px;
  margin: 0 auto;
}

.cover__button-link {
  width: 198px;
  height: 48px; 
  border-radius: 4px;
  background: #0278FE;
  margin: 32px auto 0 auto;
}


.cover_button-text {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1; 
  padding: 13px 20px 13px 20px;
  background: #0278FE;
}
.cover__paragraph {
font-family: "Inter", Arial, sans-serif;
color: #ffffff;
margin: 0 auto;
font-size: 18px;
font-weight: 400;
line-height: 1.2;
text-align: center;
max-width: 230px;
padding-top: 32px;
}


@media screen and (max-width: 400px) {
  .header__logo {
    max-width: 200px;
    height: 51.8px;
    width: 200px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 525px) {
  .lead__title {
    max-width: 380px;
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .lead__subtitle {
    padding-top: 90px;
    max-width: 380px;
  }
}

@media screen and (max-width: 498px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
    padding-top: 60px;
  }
}

@media screen and (max-width: 780px) {
  .lead__image {
    max-width: 768px;
    height: 480px;
    padding-top: 69px;
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .lead__image {
    height: 200px;
    padding-top: 40px;
    object-fit: cover;
  }
}

@media screen and (max-width: 900px) {
  .intro__title {
    max-width: 720px;
    font-weight: 600;
    padding-top: 55px;
  }
}

@media screen and (max-width: 400px) {
  .intro__title {
    font-size: 32px;
    max-width: 288px;
    font-weight: 600;
    padding-top: 32px;
  }
}

@media screen and (max-width: 970px) {
  .intro__quote {
    max-width: 720px;
    padding-top: 15px;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .intro__quote {
    max-width: 285px;
    padding-top: 9px;
  }
}

@media screen and (max-width: 970px) {
  .intro__paragraph {
    padding-top: 42px;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .intro__paragraph {
    max-width: 288px;
    padding-top: 1px;
  }
}

@media screen and (max-width: 1000px) {
  .intro__quote-footer {
    display: flex;
    justify-content: right;
    max-width: 90%;
  }
}

@media screen and (max-width: 1195px) {
  .gallery__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 16px;
    padding-top: 64px;
    max-width: 720px;
    margin: auto;
  }
}

@media screen and (max-width: 730px) {
  .gallery__block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 16px;
    max-width: 288px;
  }
}


@media screen and (max-width: 1195px) {
  .gallery__image {
    width: 352px;
    height: 264px;
  }
}
@media screen and (max-width: 520px) {
  .gallery__image {
    width: 288px;
    height: 216px;
  }
}

@media screen and (max-width: 800px) {
  .place__title {
    font-size: 42px;
    max-width: 340px;
  }
}

@media screen and (max-width: 450px) {
  .place__title {
    font-size: 32px;
    max-width: 288px;
  }
}

@media screen and (max-width: 800px) {
  .place__paragraph {
    font-family: "Inter", Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    max-width: 352px;
  }
}
@media screen and (max-width: 450px) {
  .place__paragraph {
    max-width: 288px;
  }
}

@media screen and (max-width: 800px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 450px) {
  .place__image {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 450px) {
  .place__buttom-link {
    max-width: 288px;
  }
}

@media screen and (max-width: 450px) {
  .place__buttom-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
.cover__title {
  font-size: 32px;
}

@media screen and (max-width: 780px) {
.cover {
  max-width:768px;
  width: 100%;
  height: 740px;
  }
  }
  
  @media screen and (max-width: 430px) {
    .cover {
      max-width:320px;
      height: 254px;
      padding-top: 64px;
    }
  }
