.cover {
  position: relative;
  max-width: 1184px;
  width: 90%;
  height: 740px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 92px auto 0;
}

.cover__background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 70%;
}
.cover__background:hover {
  opacity: 0.2;
}
.cover__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cover__title {
  font-family: "Inter", Arial, sans-serif;
  color: #fffdfd;
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  padding-top: 243px;
  margin: 0 auto;
  z-index: 2;
}

.cover__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 198px;
  height: 48px;
  border-radius: 4px;
  background: #0278fe;
  margin: 32px auto 0 auto;
  z-index: 2;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  text-decoration: none;
}

.cover__button-link:hover {
  opacity: 0.9;
}

.cover__button-link:hover + .cover__background {
  opacity: 0.2;
  background: #2a2c2f;
}

.cover__paragraph {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  margin: 0 auto;
  width: 280px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding-top: 32px;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 780px) {
  .cover {
    max-width: 768px;
    width: 100%;
    height: 740px;
  }
}

@media screen and (max-width: 430px) {
  .cover {
    max-width: 320px;
    height: 254px;
    margin: 64px auto 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .cover__title {
    font-size: 32px;
    padding-top: 46px;
  }
}

@media screen and (max-width: 450px) {
  .cover__paragraph {
    padding-top: 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .cover__button-link {
    margin-top: 16px;
  }
}
